```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.python-version
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/
*.coveragerc
.tox/
noxfile.py
.hypothesis/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (if not intended for version control)
*.csv
*.json

```